<a href="https://colab.research.google.com/github/lukehdez95/DS-Unit-1-Sprint-2-Statistics/blob/master/module4-bayesian/LS_DS_124_Bayesian_Inference_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lambda School Data Science Module 124

## Introduction to Bayesian Inference

### 1) In your own words, summarize the difference between Bayesian and Frequentist statistics.

Frequentist statistics would have you run a trial 1000 times, and use math to calculate the probability of things happening, whereas Bayesian statistics would change their opinion of the probability of something happening based on what occured most frequently. 

Bayesian reasses their opinion after every trial, whereas frequentist runs 1000 trials and accepts that as their opinion

###For questions 2) - 8) use the following information:

Let A be the event of surviving the sinking of the Titanic and B be the event of being a 1st class passenger.

In [ ]:
import pandas as pd
import numpy as np


data_url = 'https://raw.githubusercontent.com/Chelsea-Myers/Lambda-Intro/master/Titanic.csv'

df = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(df.shape)
df.head()

(887, 8)

   Survived  Pclass  ... Parents/Children_Aboard     Fare
0         0       3  ...                       0   7.2500
1         1       1  ...                       0  71.2833
2         1       3  ...                       0   7.9250
3         1       1  ...                       0  53.1000
4         0       3  ...                       0   8.0500

[5 rows x 8 columns]

2) Calculate P(A) = P(Surving)

In [ ]:
pd.crosstab(df['Survived'],df['Pclass'], margins=True)

Pclass      1    2    3  All
Survived
0          80   97  368  545
1         136   87  119  342
All       216  184  487  887

In [ ]:
### YOUR CODE HERE
# 887 passengers, 342 of them survived.
print('P(Surviving) is ', round((342/887)*100),'%',sep="")

P(Surviving) is 39%

3) Calculate P(B) = P(Being a 1st class passenger)

In [ ]:
### YOUR CODE HERE
# 216 1st class passengers and 887 total passengers
print('P(Being a 1st class passenger) is ',round((216/887)*100),'%',sep='')

P(Being a 1st class passenger) is 24%

4) Calculate P(A $\cap$ B) = P(Being a 1st class passenger and surviving)

In [ ]:
### YOUR CODE HERE
# 136 1st class survivors, out of 887 total passengers
print('P(Being a 1st class passenger and surviving) is ',round((136/887)*100),'%',sep='')

P(Being a 1st class passenger and surviving) is 15%

5) Calculate P(A|B) = P(Surviving given that the person was a 1st class passenger)

In [ ]:
pd.crosstab(df['Survived'],df['Pclass'], margins=True)

Pclass      1    2    3  All
Survived
0          80   97  368  545
1         136   87  119  342
All       216  184  487  887

In [ ]:
pd.crosstab(df['Survived'],df['Pclass'],normalize='index') #This crosstab gives me %s of a designated class of passenger, given survival

Pclass           1         2         3
Survived
0         0.146789  0.177982  0.675229
1         0.397661  0.254386  0.347953

In [ ]:
pd.crosstab(df['Pclass'],df['Survived'],normalize='index') #This cross tab gives me %s of Survival, given the designated class of passenger

Survived         0         1
Pclass
1         0.370370  0.629630
2         0.527174  0.472826
3         0.755647  0.244353

In [ ]:
### YOUR CODE HERE
# Surviving given that the person was a 1st class passenger should be 136 (number of 1st class survivors) divided by 216 (number of 1st class passengers)
print('P(Surviving given that the person was a 1st class passenger) is ', round((136/216)*100),'%',sep='')

P(Surviving given that the person was a 1st class passenger) is 63%

6) Calculate (B|A) = P(Being a first class passenger given the person survived)

In [ ]:
### YOUR CODE HERE
# 136 surviving 1st class passengers / 342 total number of survivors
print('P(Being a first class passenger given the person survived) is ', round((136/342)*100),'%',sep='')

P(Being a first class passenger given the person survived) is 40%

7) Show that 

$$P(A|B) = \frac{P(A \cap B)}{P(B)}$$

with the numbers you calculate above.

In [ ]:
### YOUR CODE HERE
import math
P_A_B = (136/216)*100
P_A_n_B = (136/887)*100
P_B = (216/887)*100
P_A_B == (P_A_n_B/P_B)*100

True

8) Show that 

$$P(A|B) = \frac{P(B|A)P(A)}{P(B)}$$

with the numbers you calculated above.

In [ ]:
### YOUR CODE HERE
P_B_A = (136/342)*100
P_A = (342/887)*100
print(P_A_B)
(P_B_A * P_A) / P_B #These two numbers are exactly the same, but will not equal each other due to a rounding error

62.96296296296296

62.96296296296297

###Use the following information to answer questions 9) - 13) 


Students arriving at Hogwarts are sorted into one of the four residential houses -- Gryffindor, Hufflepuff, Ravenclaw, and Slytherin -- by the magical Sorting Hat.


In theory, the Hat is supposed to examine each student's personality, consider his or her wishes, and then place the student into the most appropriate house. However, after a thousand years, the Hat has gotten pretty lazy, so it has simplified its sorting process into a two-step algorithm:



All evil students go into Slytherin, obviously.


Everybody else is just randomly sorted into one of the four houses, with a 40% probability of being put into Hufflepuff and a 20% probability of being put into each of the three other houses.


Hermione is shocked when she's sorted into Slytherin! She's never thought of herself as evil, but now that she considers it, becoming the future Dark Lady of Magical Britain does have some appeal...


If 10% of new Hogwarts students are evil, what is the probability that a randomly chosen Slytherin is evil?


Tip: the value you want is P(Evil | Slytherin).

9) Show the intermediate step that allows us to write: 

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

Answer: 
P(Evil and Slytherin) = P(Slytherin | Evil) * P(Evil)

10) Determine P(Slytherin|Evil).

Answer: 100%

11) Determine P(Evil).

Answer: 10%

12) Determine P(Slytherin).  Hint: This is a little tricky.  This is equal to the probability of a student being evil (and therefore being sorted into Slytherin) plus the probability of not being evil and being sorted into Slytherin.

Answer: 10% + 20% = 30%

13) Calculate P(Evil|Slytherin) using the formula

$$P(Evil|Slytherin)= \frac{P(Slytherin|Evil)P(Evil)}{P(Slytherin)}$$

In [ ]:
### YOUR CODE HERE ###
(100 * 10) / 30

33.333333333333336

#Portfolio Project Assignment

Watch the Porfolio Project websites mini-lecture: https://www.youtube.com/watch?v=gxbNCGERUjc&feature=youtu.be&ab_channel=LambdaSchool


Begin to set up your own Portfolio Project website.